html {
    background: #FFFFFF;
   
}

@font-face {
    font-family: SoleSans;
    src: url("CAST - Sole Sans.otf");
}
iframe{

    display: block;
    
}

body {
    background: #FFFFFF;
    color: #000;
    font-family: "SoleSans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 100%;
    padding: 1em 3em 3em;
}


a{
    font-family: "SoleSans", sans-serif;
    text-decoration:solid;
    color:#FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: normal;
    line-height: 1.3;
    text-align: right;
    font-family: "SoleSans", sans-serif;
    max-width: 100%;
}



h1,
p,
h4 {
    text-align: center;
}

h4 {
    color: #000;
    line-height: 20px;
    font-size: 100px;
}

h2 {
    margin-top: 1.3em;
    text-align: left;
}

h5 {
    color:#FFFFFF;
    position: absolute;
    top: 33%;
    width: 100%;
    line-height: .25;
    font-size: 80px;
    text-align: center;
    
 
  
}



b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    display: flex;
    max-width: 100%;

    align-items: center;
   

}



.image{
    position: relative;
    width: 100%;

}


@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

